.form{
  position: absolute;
  top: 100px;
  left: 250px;/*Original value is 500px*/
  height: 450px;
  width: 700px; /* This will be halved later*/
  background-color: bisque;
}

.form-element{
  position: relative;
  border: 2px solid black;
  height: 450px;
  width: 350px;
}

.label-text{
  margin-right: 5px;
}

.pointer{
  cursor: pointer;
}